body{
    display: flex;
}

#div{
    background-color: lightblue;
    position: absolute;
    top: 60px;
    left: 0px;
    border-radius: 50%;
    cursor: pointer;
}
#h1{
    background: lightblue;
    font-size: 39px;
    height: 60px;
    margin: 0;
    line-height: 60px;
    border-radius: 0;
    position: absolute;
    top:0;
    display: inline;
}
#slide{
    display: inline;
    position: absolute;    
    left: 50%;
}